<ngx-loading [show]="loading"></ngx-loading>

<div class="container-fluid main-bg">
  <div class="container">
    <div class="row extreme">
      <div class="col-12 offset-md-3 col-md-6 d-flex justify-content-center align-items-center">
        <mat-card class="text-center">
          <h2 class="fs-3 fw-bolder">Sign-in now!</h2>
          <p class="my-2">Enjoy the premium, hassle-free social platform with single click</p>
          <button mat-raised-button class="btn" (click)="signInWithGoogle()"><img src="../../../assets/google.png"
              alt="googel icon" height="18"> Sign in with Google</button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
